@media (min-width: 0px) {
    * {
        margin: 0px;
        padding: 0px;

        font-family: Namu-1930;
        font-weight: 100;
        font-size: 18px;
    }

    @font-face {
        font-family: "ViaodaLibre";
        src: url("/fonts/ViaodaLibre-Regular.ttf");
    }
    
     @font-face {
        font-family: "NAMU-1930";
        src: url("/fonts/NAMU-1930.ttf");
    }
    
     @font-face {
        font-family: "NAMU-Pro";
        src: url("/fonts/NAMU-Pro.ttf");
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: NAMU-1930;
        font-weight: 900;
        font-size: 55px;
        margin: 20px 0;
    }

    h2 {
        font-size: 48px;
        margin: 10px 0;
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: 24px;
        margin: 10px;
    }

    .container {
        width: 100%;
        display: block;
        margin: 80px 0;
    }
    
    .announcements,
    .event,
    .news,
    .newsitem,
    .login {
        width: 90%;
        padding-right: 5%;
        padding-left: 5%;
        margin: 20px 0;
    }
    
    .login-form,
    .admin-panel {
        display: block;
        margin: 20px;
    }

    .fw-clearfix::before,
    .fw-clearfix::after,
    .announcements-grid::after
    .news-grid {
        content: "";
        clear: both;
        display: table;
    }
    
    .clm-l {
        display: block;
        float: left;
    }
    
    .clm-r {
        display: block;
        float: right;
    }
    
    .clm-l::after,
    .clm-r::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .w33 {
        display: block;
        width: 33%;
    }
    
    .w67 {
        display: block;
        width: 67%;
    }
    
    .w62 {
        display: block;
        width: 62%;
    }
    
    .navbar {
        display: block;
        position: fixed;
        margin: 0;
        top: 0;
        right: 0;
        width: 90%;
        background-color: #fff;
        border-bottom: 1px solid #000;
        z-index: 2;
        padding: 0 5%;
    }
        
    .logo {
        display: block;
        float: left;
    }
    
    .logo-header {
        height: 56px;
        margin: 10px 0;
    }
    
    .main-nav {
        float: right;
    }
    
    .main-nav a {
        display: block;
        float: left;
        color: black;
        text-decoration: none;
        font-weight: 600;
        padding: 27px 20px;
    }
    
    .main-nav a:hover {
        background-color: #eee;
    }
    
    .menu-shower {
        display: none;
    }
    
    .breadcrumb {
        margin-top: 96px;
        padding: 40px 5%;
    }
    
    .breadcrumb-link {
        margin: 40px 0;
        padding: 20px 5%;
        background-color: #000;
        text-decoration: none;
        color: #fff;
    }
    
    .breadcrumb-link:hover{
        background-color: #eee;
        color: #000;
    }
    
    .header {
        margin-top: 76px;
    }
    
    .banner {
        position: relative;
        width: 100%;
        height: 500px;
        text-align: center;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .banner-content {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 5%;
        text-align: left;
        color: white;
        background-color: #000;
        width: 50%;
        padding: 20px;
    }
    
    .banner-img {
        min-height: 500px;
        min-width: 100%;
        background-size: cover;
        background-position: center;
    }
    
    .header-content {
        width: 90%;
        padding: 0 5%;
    }
    
    .header-desc {
        font-size: 14px;
    }
    
    .cta-link {
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        text-decoration: none;
        display: block;
        position: absolute;
        bottom: 20px;
    }
    
    .cta-btn {
        display: block;
        width: 67px;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;
        color: #000;
        background-color: #eee;
        border: 1px solid #333;
        border-radius: 5px;
    }
    
    .cta-link:hover,
    .announcements-title:hover,
    .news-title:hover {
        text-decoration: underline;
    }
    
    .announcements-grid,
    .announcements-big-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-row-gap: 0px;
        grid-column-gap: 0;
        align-items: stretch;
    }
    
    .news-big-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-row-gap: 40px;
        grid-column-gap: 0;
        align-items: stretch;
    } 
    
    .announcements-grid-item,
    .announcements-big-grid-item,
    .news-grid-item {
        position: relative;
        display: block;
        text-align: left;
        width: 90%;
        padding: 20px 5%;
    }
    
    .news-big-grid-item {
        width: 90%;
        display: grid;
        grid-template-columns: 30% 65%;
        grid-template-rows: auto;
        grid-row-gap: 40px;
        grid-column-gap: 2%;
        align-items: stretch;
        padding: 20px 2% 20px 0;
    }
    
    .announcements-big-grid-item {
        padding-right: 10%;
        padding-left: 0;
    }
        
    .announcements-grid-item:hover,
    .announcements-big-grid-item:hover,
    .news-grid-item:hover,
    .news-big-grid-item:hover {
        background-color: #eee;
    }
    
    .announcements-grid-item:nth-of-type(4n){
        background-color: #000;
        color: #fff;
        padding: 43px 5%;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    .announcements-grid-item:nth-of-type(4n):hover,
    .announcements-grid-item:nth-of-type(4n):hover a,
    .news-grid-item:nth-of-type(5n):hover,
    .news-grid-item:nth-of-type(5n):hover a {
        background-color: #eee;
        color: #000;
    }
    
    .announcements-poster,
    .news-img {
        display: block;
        position: relative;
        width: 100%;
        background-color: gray;
        background-size: cover;
        background-position: center;
    }
    
    .announcements-poster::before,
    .news-img::before {
        content: "";
        display: block;
        padding-top: 138%;
    }
    
    .announcements-poster > .poster,
    .news-img > img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .announcements-date,
    .news-date {
        display: block;
        padding-top: 10px;
    }
    
    .announcements-title,
    .news-title {
        display: block;
        font-size: 18px;
        padding-top: 10px;
        font-weight: 600;
        color: #000;
        text-decoration: none;
    }

    .news-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-row-gap: 0px;
        grid-column-gap: 0;
        align-items: stretch;
    }
    
    .news-grid-item {
        width: 100%;
        padding: 25px 0;
    }
    
    .news-date {
        padding-left: 2%;
        padding-right: 5%;
    }
    
    .news-title {
        padding-left: 2%;
        padding-right: 5%;
    }
    
    .news-img::before {
        padding-top: 75%;
    }
    
    .news-grid-item:nth-of-type(5n) {
        background-color: #000;
        color: #fff;
        padding: 43px 0 43px 5%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .news-big-title:hover {
        text-decoration: underline;
    }
    
    .news-big-date {
        font-size: 18px;
        color: #555;
    }
    
    .news-big-title {
        text-decoration: none;
        color: #000;
        font-size: 36px;
        display: block;
        padding: 15px 0 10px;
    }
    
    .news-big-preview {
        font-size: 18px;
    }
    
    .news-big-cta {
        display: block;
        width: 50%;
        min-width: 100px;
        padding: 5px 5px 9px;
        margin: 10px 0;
        background-color: #000;
        color: #fff;
        text-decoration: none;
    }
    
    .footer {
        position: inherit;
        display: block;
        padding: 40px 5%;
        width: 90%;
        background-color: #000;
        color: #fff;
        overflow: hidden;
        margin-bottom: 0;
    }
    
    .footer a {
        color: #fff;
    }
    
    .logo-footer {
        width: 100%;
        max-height: 150px;
    }

    .about {
        display: block;
        margin: 20px 0;
    }
    
    .credit {
        font-size: 12px;
        color: #aaa;
        display: block;
        margin: 40px 0 10px ;
    }
    
    .form {
        display: block;
        max-width: 500px;
    }
    
    .textbox {
        margin: 10px 0;
    }
    
    .textarea {
        width: 100%;
        height: 500px;
    }
    
    .textarea-short {
        width: 100%;
        height: 200px;
    }
    
    .form-item {
        margin: 10px 0 20px;
    }
    
    input {
        padding: 5px;
    }
    
    input[type|="file"] {
        padding: 10px 0;
    }
    
    .admin-table {
        border-collapse: collapse;
        max-width: 90%;
    }
    
    .admin-table th {
        padding: 10px 20px;
        text-align: left;
        background-color: #000;
        color: #fff;
        width: 12%;
    }
    
    .admin-table td {
        padding: 20px;
        text-align: left;
    }
    
    .admin-table th:nth-of-type(2) {
        width: 30%;
        min-width: 200px;
    }
    
    .admin-table tr:nth-of-type(2n) {
        background-color: #eee;
    }    
    
    .admin-table tr:hover {
        background-color: #aaa;
    }
    
    .preview-img > .poster {
        height: 100%;
        overflow-x: hidden;
    }
    
    .event-title,
    .newsitem-title {
        margin: 40px 0;
    }
    
    .event-poster,
    .newsitem-img {
        padding: 0 5% 40px 0;
    }
    
    .event-date,
    .newsitem-date  {
        font-size: 36px;
    }
    
    .event-description,
    .newsitem-content {
        font-size: 18px;
        margin: 40px 0;
    }
}


@media (max-width: 760px) {
    
    * {
        font-size: 14px;
    }
    
    h1 {
        font-size: 36px;
    }
    
    /*
    
    h2 {
        font-size: 20px;
    }
    
    h3,
    h4,
    h5,
    h6 {
        font-size: 18px;
    }*/
    
    .clm-l,
    .clm-r {
        float: inherit;
    }
    
    .clm-l::after,
    .clm-r::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .w33,
    .w67,
	.w62 {
        width: 100%;
    }
    
    .logo {
        position: relative;
        display: block;
        float: left;
    }
    
    .logo-header {
        height: 56px;
        margin: 10px 0;
    }
    
    #responsive-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 36px;
        height: 36px;
        display: inline-block;
        float: right;
        border: none;
        margin: 0px;
        background: linear-gradient(
          to bottom, 
          #000, #000 20%, 
          #fff 20%, #fff 40%, 
          #000 40%, #000 60%, 
          #fff 60%, #fff 80%, 
          #000 80%, #000 100%
        );
        border: 20px solid white;
        z-index: 3;
    }
    
    #responsive-menu .main-nav {
        position: fixed;
        visibility: hidden;
        top: 76px;
        left: -1920px;
        min-width: 220px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 0px 10px;
        box-sizing: border-box;
        transition: 0.3s;
        z-index: 2;
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 20px;
    }
    
    #menu-input:checked + 
    #responsive-menu .main-nav {
        visibility: visible;
        left: 0;
    }

    #menu-input:checked ~ .overlay{
        visibility: visible;
        opacity: 0.4;
    }
    
    #menu-input:checked + 
    .responsive-menu {
        background: linear-gradient(
          to bottom, 
          #f00, #f00 100%
        );
    }
    
    .main-nav a{
        font-size: 18px;
        display: block;
        width: 80%;
        height: 36px;
        padding: 27px 0 10px;
        border-bottom: 1px solid #aaa;
    }
    
    .header-desc p {
        font-size: 14px;
    }
    
    .announcements-grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .announcements-grid-item:nth-of-type(4n){
        background-color: #000;
        color: #fff;
        padding: 43px 5%;
        grid-column-end: 3;
    }
        
    .news-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0;
    }
    
    .news-grid-item {
        width: 100%;
        padding: 20px 0;
    }
    
    .footer-logo {
        margin: 20px 0;
        width: 50%;
    }
    
    .about {
        display: block;
        margin: 20px 0;
    }
    
}

@media (max-width: 1400px) {
    
    
    .news-big-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 40px;
        grid-column-gap: 0;
        align-items: stretch;
    } 
    
    .news-big-date {
        font-size: 14px;
        color: #555;
    }
    
    .news-big-title {
        text-decoration: none;
        color: #000;
        font-size: 24px;
        display: block;
        padding: 15px 0 10px;
    }
    
    .news-big-preview {
        font-size: 14px;
    }
    
    .news-big-cta {
        display: block;
        width: 50%;
        min-width: 100px;
        padding: 5px 5px 9px;
        margin: 10px 0;
        background-color: #000;
        color: #fff;
        text-decoration: none;
    }
}

